<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<button type="button" class="btn btn-primary" onclick="window.location.href = '/models';">показать список моделей</button>
<button type="button" class="btn btn-primary" onclick="window.location.href = '/labels';">показать список автомарок</button>
</body>
</html>